* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-background: rgb(16, 36, 16);
}

body {
    padding: 3em;
    background-color: var(--clr-background);
    font-family: 'Lusitana';
}